@import url('https://fonts.googleapis.com/css?family=Cabin|Roboto+Condensed:400,700');




p {
font-family: 'Cabin', sans-serif;
font-size: 16px;
color: $color-text;
}

.movieDetail {
    display: block;
}

.title {
    width: 100%;
    margin-bottom: 30px;
    display: block;
}

.title h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 45px;
    color: $color-detail-font;
    font-weight: 700;
}

.releaseDate h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    opacity: 0.6;
    color: $color-detail-font;
    }

.tagline h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    color: $color-text;
    opacity: 0.4;
    }

.singleColumn {
    width: 1000px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    z-index: 0;
    
}

.primaryContent {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    z-index: 1;
    background-color: rgb(62, 172, 219);
}

.posterLeft {
    display: block;
    position: relative;
    z-index: 2;
    
}

.coverImg {
    border-radius: 0.3rem;
}
.contentRight { 
    display: flex;
    min-height: 450px;
}

.contentRight {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    width: 700px;
    box-sizing: border-box;
    padding-left: 40px;
}

.overviewInfo {
    width: 100%;
}