@import url('https://fonts.googleapis.com/css?family=Cabin|Roboto+Condensed:400,700');



.movieDetail {
    display: block;

}

.singleColumn {
    display: block;
    width: 100%;
    height: 530px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background: transparent
}

.backgroundImg {
    position: absolute;
    z-index: -32;
    display: block;
    filter: opacity(1) grayscale(100%) contrast(130%);

}
.backgroundColor {
    background-image: radial-gradient(circle at 20% 50%, rgba(9.80%, 9.80%, 43.92%, 0.98) 0%, rgba(9.80%, 9.80%, 43.92%, 0.88) 100%);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    display: block;
    width:100%;
    height: 600px;
}
.castAndFacts {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.movieCastWrapper {
    grid-column: 1 / 10;
}

.sideBarWrapper {
    grid-column: 10 / 13;
}