.page {
    &--split {
        display: flex;
        min-height: 100vh;
    }
}

.content {
    box-sizing:border-box;
    padding-top:158px;
    width:100%;
    min-height:100%;
    // display:flex;
    flex-wrap:wrap;
    align-content:flex-start;
    justify-content:center
}