@import "vars/colors";

@import "core/reset";
@import "core/base";

@import "components/page";
@import "components/overview";
@import "components/movieCard";
@import "components/personCard";
@import "components/movieCast";
@import "components/detail";
@import "components/primaryContent";
@import "components/sideBar";
@import "components/navBar";
@import "components/searchBar";